{% extends 'base.html' %}

{% block content %}
<h2>SPSS File to CSV</h2>
<p>Upload your .sav file here ⬇️</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <br>
    <br>
    <hr  class="hr-text mt-0 mb-4">
    <button type="submit" class="btn btn-success" style="vertical-align: middle">Convert + Download</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}
